*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    height: 100vh;
    width: 100vw;
    background-image: url(steve-shreve-MarV8zURg78-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stopwatch_box{
    height: 70vh;
    width: 40vw;
    border-radius: 10px;
    background-color: rgba(192, 211, 205, 0.403);
}

.stopwatch_icon_box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.373);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.timer{
    font-size: 80px;
    color: antiquewhite;
    padding: 30px;
    text-align: center;
}

.EnterTime{
    display: flex;
    align-items: center;
    justify-content: center;
}

h3{
    color: antiquewhite;
    gap: 50px;
}
#gobox{
    background-color: rgba(0, 0, 0, 0.373);
    height: 40px;
    width: 100px;
    padding: 3px;
    text-align: center;
    color: antiquewhite;
    border-radius: 10px;
    margin-left: 250px
}

#gobox:hover{
    transform: scale(1.6);
    cursor: pointer;
}